:root {
    --primary-color: #EE4D2D;
    --white-color: #ffffff;
    --black-color: #000000;
    --text-color: #333333;
    --border-color: #dbdbdb;
    --gold-star-color: #ffce3e;
    --navbar-height: 32px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    
}

/* Test */

/* Cho Category */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-5{
    padding-left:5px;
    padding-right: 5px;
    width: 41.6667%;
}

.grid__column-6{
    padding-left: 5px;
    padding-right: 5px;
    width:50%;
}
.grid__column-6-4{
    padding-left: 5px;
    padding-right: 5px;
    width:25%;
}

.grid__column-7{
    padding-right: 5px;
    padding-left: 5px;
    width: 58.3333%;
}

/* Cho Footer  */
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

/* Cho Product items */
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/* Animations  */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.btn{
    min-width: 140px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
}

.btn.btn-register{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.disabled{
    cursor: default;
    background-color: rgb(226, 223, 223);
    color: rgb(165, 163, 163);
}
.btn.btn-smaller{
    height: 32px;
    font-size: 12px;
}

.select-input{
    min-width: 200px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 0 12px;
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input-icon{
    font-size: 1.4rem;
    top: 1px;
    color: rgb(131, 131, 131);
    position: relative;
}

/* pagination  */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-item{
    list-style-type: none;
    margin: 0 10px;
}
.pagination-item__link{
    --height : 30px;
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    border-radius: 2px;
}
.actived-page .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.margin-pagination{
    margin: 48px 0 32px 0;
}
.cursor_default{
    cursor: default;
}

.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;

}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-list{
    padding-left: 0;
    
}
.footer-item{
    list-style-type: none;
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color : #737373;
}