.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

/* .modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
} */

.modal__body {
    background-color: var(--white-color);
    z-index: 1;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.auth-form {
    width: 500px;
    height: 400px;

}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:hover {
    border-color: #777777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--text-color);
    text-align: center;
    padding: 0 12px !important;

}

.policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}

.btn-back {
    margin-right: 8px;
    background-color: var(--white-color);
}

.btn-back:hover {
    background-color: rgb(233, 233, 233);
}

.auth-form__socials {
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 233, 233);
    padding: 12px 36px;
}

.facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.goggle {
    background-color: var(--white-color);
}

.label {
    margin: 0 36px;
}
.fa-facebook-square{
    color: var(--white-color);
}
.fa-google{
    color: var(--border-color);
}